* {
  margin: 0;
  padding: 0;
}
.page {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 50px 200px;
  background: rgb(245, 250, 240);
}
.book-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 60px;
}
.book-item {
  display: flex;
}
.img-container {
}
.book-img {
  width: 350px;
  height: 450px;
  border: 1px solid rgb(105, 101, 101);
  border-radius: 2px;
}
.book-info {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {
  display: none;
}
.bag-btn {
  display: block;
}
